body {
    background-color: #f8f3e4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2 {
    color: coral;
}

table {
    border: 1px darkgray solid;
    border-collapse: collapse;
}

th, td {
    border: 1px darkgray solid;
    padding: 5px;
}

caption {
    font-style: italic;
    margin: 5px;
}

img {
    border: solid 1px #ff8051;
    padding: 10px;
    background-color: #ffe7bd;
}

#outline {
    width: 600px;
    border: 1px solid #000;
    padding: 16px;
    background-color: #fff;
    margin: 0 auto;
}

.orange-border {
    border: 1px solid orange;
    background-color: rgba(255, 166, 2, 0.27);
    padding: 5px 15px;
    margin: 15px 0;
}

span {
    background-color: orange;
}














