* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-image: url('../assets/grid_1rem.svg');
}

body {
    line-height: 1.5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
    border: 1px solid #000;
    text-align: justify;
    width: calc(100% - 1rem);
    padding: 1rem;
    margin: 1rem auto;
}

.container {
    background-image: url('../assets/img1.png');
    background-repeat: no-repeat;
    background-position: top right;
}

#belgianFlag {
    border: 1px solid #000;
    margin: 1rem auto;
    width: 300px;
    height: 200px;
    background-color: yellow;
    border-left: 100px solid #000;
    border-right: 100px solid red;
}

#wiel {
    max-width: 100%;
    height: auto;
    transform: rotate(63deg);
    clip-path: circle(50% at 50% 50%);
}



@media (min-width: 600px) {
    body {
        /*background-color: lightcyan;*/
    }

    p {
        width: calc(600px - 2rem);
        margin: 1rem auto;
    }

}

@media (min-width: 800px) {
    body {
        /*background-color: lightskyblue;*/
    }
    p {
        width: calc(800px - 2rem);
    }
}




